[Unit]
Description=Mqtt service to post/log temperature
[Service]
ExecStart=/usr/local/bin/tempsensor /etc/tempsensor/settings.ini
Restart=on-failure
RestartSec=1s
[Install]
WantedBy=multi-user.target
